.doctor-detail-container {
    height: 500px;
    margin: 0 100px;
    border: 1px Solid red;

    .intro-doctor {
        display: flex;
        border: 1px solid grey;

        .content-left {
            width: 20%;
            background: center center no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;

            padding-left: 10px;

            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
            }
        }
    }

    .schedule-doctor {
        margin: 0 100px;
        display: flex;
        height: 200px;

        .content-left {
            width: 49%;
        }

        .content-right {
            width: 49%;
        }
    }
    .detail-infor-doctor {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #F9F9F9;
        padding: 10px 100ox;

        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }
    }

    .coment-doctor {
        height: 50px;
       
    }
}