@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(38, 240, 246, 0.79) 0%, rgb(3, 245, 200) 100%);
    color: $common-text-color;
    height: 40px;
    position: relative;

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {
        .welcome {
            margin-right: 10px;
        }
        .language-en {
            margin-right: 15px;
            margin-left: 10px;
            cursor: pointer;

            &.active {
                opacity: 1;
                color: #4cd964;
            }
        }

        .language-vi {
            cursor: pointer;

            &.active {
                opacity: 1;
                color: #e7ef0a;
            }
        }
    }
}